<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Ejercicio-3.10 Velocity</title>
</head>
<body>
	<h4>Velocity</h4>
	<hr/>
	
	#sform ("action=velocity" "method=post")
	    #stextfield ("label=Nombre" "name=nombre")
	    #stextfield ("label=Fecha Nacimiento (dd/MM/yyyy)" "name=feNacimiento")
	    #stextarea ("label=Información" "name=informacion" "cols=20" "rows=3")
	    #sselect ("label=Color Favorito" "list={'Rojo', 'Azul', 'Verde'}" "name=colorFavorito" "headerKey=" "headerValue=----------")
	    #scheckbox ("label=Edad 18+" "name=mayorEdad")
	    #sdoubleselect ("label=Comunidad" "name=comunidad" "list={'Cataluña', 'Madrid'}" "doubleLabel=Provincia" "doubleName=provincia" "doubleList=top == 'Madrid' ? {'Madrid'} : {'Barcelona', 'Gerona', 'Lérida', 'Tarragona'}" "headerKey=" "headerValue=-------------------" "doubleHeaderKey=" "doubleHeaderValue=-------------------")
	    #ssubmit("label=Enviar")
	    #sreset()
	#end

</body>
</html>